<!DOCTYPE html>
<html>
<head>
	<title>Moodify</title>
	<link href="../public/stylesheets/style.css" rel="stylesheet" type="text/css"/>
	<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
	<script src="../public/javascripts/typed.js" type="text/javascript"></script>
	<script>
      $(function(){
         $(".element").typed({
            strings: ["Click on me!", "Let's find you some good music!", "SirMixABot at your service."],
            typeSpeed: 0
         });
      });
	</script>
</head>
<body>
	<div class="splash">
		<span class="element scrollText"></span>
		<h1 class="padCenter title">MixABot</h1>
		<a href="http://www.facebook.com"><img class="mascot" src="../public/images/mascot.png" /></a>
		<p class="description">A friendly bot to curate a playlist for your mood!<br><br>Talk to MixABot and he will generate songs based on your emotions.</p>
	</div>
</body>
</html>